
{% load static %}

<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

<!-- Morris Charts CSS -->
<link href="{% static 'vendors/bower_components/morris.js/morris.css' %}" rel="stylesheet" type="text/css"/>

<!-- Data table CSS -->
<link href="{% static 'vendors/bower_components/datatables/media/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>

<link href="{% static 'vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css' %}" rel="stylesheet" type="text/css">

<!-- Data table CSS -->
<link href="{% static 'vendors/bower_components/datatables/media/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>
    
<!-- Custom CSS -->
<link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">

{% comment %} HTMX {% endcomment %}

<script src="{% static 'dist/js/htmx.min.js' %}" integrity="sha384-aOxz9UdWG0yBiyrTwPeMibmaoq07/d3a96GCbb9x60f3mOt5zwkjdbcHFnKH8qls" crossorigin="anonymous"></script>
