
{% extends 'account/auth-layout.html' %}
{% load static %}

{% load account %}

{% block title %}
    CHANGE PASSWORD
{% endblock title %}
    


{% block content %}    

    <div class="wrapper pa-0">
        <header class="sp-header">
            <div class="sp-logo-wrap pull-left">
                <a href="">
                    <img class="brand-img mr-10" src="{% static 'dist/img/logo.png' %}" alt="brand"/>
                    <span class="brand-text notranslate">Manager</span>
                </a>
            </div>
            <div class="form-group mb-0 pull-right">
                <span class="inline-block pr-10">Don't have an account?</span>
                <a class="inline-block btn btn-info btn-success btn-rounded btn-outline" href="{% url 'account_signup' %}">Sign Up</a>
            </div>
            <div class="form-group mb-0 pull-right">
                <span class="inline-block pr-10">You  have an account?</span>
                <a class="inline-block btn btn-info btn-success btn-rounded btn-outline" href="{% url 'account_login' %}">Sign In</a>
            </div>
            <div class="clearfix"></div>
        </header>
        
        <!-- Main Content -->
        <div class="page-wrapper pa-0 ma-0 auth-page">
            <div class="container-fluid">
                <!-- Row -->
                <div class="table-struct full-width full-height">
                    <div class="table-cell vertical-align-middle auth-form-wrap">
                        <div class="auth-form  ml-auto mr-auto no-float">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="mb-30">
                                        <h3>{% if token_fail %} Bad Token {% else %} Change Password {% endif %}</h3>
                                        <br>
                                        {% if token_fail %}
                                            {% url 'account_reset_password' as passwd_reset_url %}
                                            <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
                                        {% else %}
                                        <div class="form-wrap">
                                            <form method="POST" action="{{ action_url }}">
                                                {% csrf_token %}
                                               
                                                <div class="form-group">
                                                    <label class="control-label mb-10">New Password <span class="text-danger">*</span></label>
                                                    {{form.password1}}
                                                    {% if form.password1.errors %}
                                                        {% for error in form.password1.errors %}
                                                            <div class="text-danger">
                                                                {{ error|escape }}
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label mb-10">New Password  Again<span class="text-danger">*</span></label>
                                                    {{form.password2}}
                                                    {% if form.password2.errors %}
                                                        {% for error in form.password2.errors %}
                                                            <div class="text-danger">
                                                                {{ error|escape }}
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="form-group text-center">
                                                    <button type="submit" class="btn btn-info btn-success btn-rounded">Change Password</button>
                                                </div>
                                            </form>
                                        </div>
                                        {% endif %}
                                        
                                    </div>	
                                </div>	
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Row -->	
            </div>
            
        </div>
        <!-- /Main Content -->

    </div>

{% endblock content %}
