 
{% extends 'base-layout/base.html' %}

{% load static %}


{% block title %}
    ADD NEW PASSWORD
{% endblock title %}


{% block content %}
    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">
				
            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                  <h5 class="txt-dark">Add New Password</h5>
                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                  <ol class="breadcrumb">
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'passwords' %}"><span>Passwords</span></a></li>
                    <li class="active"><span>Add New Password</span></li>
                  </ol>
                </div>
                <!-- /Breadcrumb -->
            </div>
            <!-- /Title -->
            <div class="col-md-12">
                {% include 'partials/messages.html' %}
            </div>
            
            <!-- Row -->
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-right">
                                {% comment %} <h6 class="panel-title txt-dark">data Table</h6> {% endcomment %}
                                {% comment %} <button onclick="window.location.href='{% url 'add-password' %}'" class="btn btn-success btn-anim"><i class="icon-plus"></i><span class="btn-text">Add New Password</span></button> {% endcomment %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <br>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="form-wrap">
                                    <form method="POST">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <label class="control-label mb-10">Website Name <span class="text-danger">*</span></label>
                                            {{form.website_name}}
                                            {% if form.website_name.errors %}
                                                {% for error in form.website_name.errors %}
                                                    <div class="text-danger">
                                                        {{ error|escape }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label mb-10">Website Url <span class="text-danger">*</span></label>
                                            {{form.website_url}}
                                            {% if form.website_url.errors %}
                                                {% for error in form.website_url.errors %}
                                                    <div class="text-danger">
                                                        {{ error|escape }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label mb-10">Username <span class="text-danger">*</span></label>
                                            {{form.username}}
                                            {% if form.username.errors %}
                                                {% for error in form.username.errors %}
                                                    <div class="text-danger">
                                                        {{ error|escape }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label mb-10">Password <span class="text-danger">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i onclick="setInputType()" style="cursor: pointer; font-size: 15px;" class="icon-eye"></i></label>
                                            {{form.password1}}
                                            {% if form.password1.errors %}
                                                {% for error in form.password1.errors %}
                                                    <div class="text-danger">
                                                        {{ error|escape }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label mb-10">Password Confirmation<span class="text-danger">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i onclick="setInputType2()" style="cursor: pointer; font-size: 15px;" class="icon-eye"></i></label>
                                            {{form.password2}}
                                            {% if form.password2.errors %}
                                                {% for error in form.password2.errors %}
                                                    <div class="text-danger">
                                                        {{ error|escape }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                            <br>
                                            {% for error in form.non_field_errors %}
                                                <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                            <div class="pull-right">
                                                <button type="button" onclick="genPassword()" class="btn btn-primary btn-anim"><i class="icon-key"></i><span class="btn-text">Generate</span></button>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-info btn-success btn-rounded">Save Password</button>
                                        </div>
                                        </div>
                                    </form>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>	
                </div>
            </div>
            <!-- /Row -->
            {% include 'partials/footer.html' %}
        </div>

        
    </div>
    <!-- /Main Content -->
{% endblock content %}



{% block custom-scripts %}
    <script>
        function setInputType(){
            type = document.getElementById('password1').type;

            if(type=='password'){
                document.getElementById('password1').type = 'text'
            }
            else{
                document.getElementById('password1').type = 'password'
            }
        };

        function setInputType2(){
            type = document.getElementById('password2').type;

            if(type=='password'){
                document.getElementById('password2').type = 'text'
            }
            else{
                document.getElementById('password2').type = 'password'
            }
        };

        function genPassword(){
            var chars = '0123456789abcdefghijklmnopqrstuvwxyz!@#$%^&*()ABCDEFGHIJKLMNOPQRSTUVWXYZ';
            var passwordLength = 12;
            var password = '';
            for (var i = 0; i <= passwordLength; i++) {
               var randomNumber = Math.floor(Math.random() * chars.length);
               password += chars.substring(randomNumber, randomNumber +1);
            }
            document.getElementById('password1').value = password;
            document.getElementById('password2').value = password;
        }
    </script>
{% endblock custom-scripts %}
    