 
{% extends 'base-layout/base.html' %}

{% load static %}


{% block title %}
    PASSWORDS
{% endblock title %}


{% block content %}
    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                  <h5 class="txt-dark">Passwords</h5>
                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                  <ol class="breadcrumb">
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    {% comment %} <li><a href="#"><span>table</span></a></li> {% endcomment %}
                    <li class="active"><span>Passwords</span></li>
                  </ol>
                </div>
                <!-- /Breadcrumb -->
            </div>
            <!-- /Title -->
            <div class="col-md-12">
                {% include 'partials/messages.html' %}
            </div>
            
            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-right">
                                {% comment %} <h6 class="panel-title txt-dark">data Table</h6> {% endcomment %}
                                <button onclick="window.location.href='{% url 'add-password' %}'" class="btn btn-success btn-anim"><i class="icon-plus"></i><span class="btn-text">Add New Password</span></button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <br>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <table id="datable_1" class="table table-hover display  pb-30" >
                                            <thead>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Website name</th>
                                                    <th>Website url</th>
                                                    <th>Username</th>
                                                    <th>Password</th>
                                                    <th>Expiration Date</th>
                                                    <th class="text-center">Compromised</th>
                                                    <th class="text-center">Status</th>
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Website name</th>
                                                    <th>Website url</th>
                                                    <th>Username</th>
                                                    <th>Password</th>
                                                    <th>Expiration Date</th>
                                                    <th class="text-center">Compromised</th>
                                                    <th class="text-center">Status</th>
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                
                                                {% for p in passwords %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td class="notranslate">{{ p.website_name }}</td>
                                                        <td>{{ p.website_url }}</td>
                                                        <td>{{ p.username }}</td>
                                                        <td>*****{{ p.password|slice:"4:" }}</td>
                                                        <td>
                                                            {% if p.expiration_date %}
                                                                {{ p.expiration_date }}
                                                            {% else %}    
                                                                <span class="label label-info">Undefined</span>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center">
                                                            {% if not p.is_compromised %}
                                                                <span class="label label-success">No</span>
                                                            {% else %}    
                                                                <span class="label label-danger">Yes</span>
                                                            {% endif %}
                                                                
                                                        </td>
                                                        <td class="text-center">
                                                            {% if p.is_active %}
                                                                <span class="label label-success">Active</span>
                                                            {% else %}    
                                                                <span class="label label-danger">Inactive</span>
                                                            {% endif %}
                                                                
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="javascript:void(0)" onclick="window.location.href='{% url 'update-password' pk=p.pk %}'" class="pr-10" data-toggle="tooltip" title="" data-original-title="Edit"><i class="zmdi zmdi-edit"></i></a>
                                                            {% if settings and settings.share_passwords %}
                                                                <a href="javascript:void(0)" onclick="window.location.href='{% url 'share-password' pk=p.pk %}'" class="pr-10" data-toggle="tooltip" title="" data-original-title="Share"><i class="zmdi zmdi-share"></i></a> 
                                                            {% endif %} 
                                                            <a href="javascript:void(0)" onclick="setDelete(this)" data-id="{{ p.id }}" data-name="{{ p.website_name }}" data-toggle="modal" data-target="#responsive-modal" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete"><i class="zmdi zmdi-delete"></i></a> &nbsp;&nbsp;
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>	
                </div>
            </div>
            <!-- /Row -->
        </div>

        {% include 'partials/footer.html' %}

    </div>
    <!-- /Main Content -->
{% endblock content %}



{% block custom-scripts %}
    <script>
        function setDelete(el){
            password_id = el.getAttribute('data-id')
            name = el.getAttribute('data-name')
            document.getElementById('modal-title').innerText = "Delete " + name + " password ?"

            document.getElementById('delete-form').action = "{% url 'delete-password' pk=12345 %}".replace('12345', password_id);
        }
    </script>
{% endblock custom-scripts %}
    