 
{% extends 'base-layout/base.html' %}

{% load static %}
{% load qr_code %}

{% block title %}
    SHARE PASSWORD
{% endblock title %}


{% block content %}
    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                  <h5 class="txt-dark">Share Password</h5>
                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                      <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                      <li><a href="{% url 'passwords' %}"><span>Passwords</span></a></li>
                      <li class="active"><span>Share Password</span></li>
                    </ol>
                  </div>
                  <!-- /Breadcrumb -->
            </div>
            <!-- /Title -->
            {% comment %} <div class="col-md-12">
                {% include 'partials/messages.html' %}
            </div> {% endcomment %}
            
            
            <div class="row">
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-6">
                   
                    <div class="panel panel-success card-view">
                        <div class="panel-heading">
                            <div class="text-center">
                                <h6 class="panel-title txt-light">{{ password.website_name }} Password Sharing QR CODE</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div  class="panel-wrapper collapse in">
                            <div class="col-md-12">
                                <br><br>
                                {% include 'partials/messages.html' %}
                            </div>
                            <br><br>
                            <form method="POST" action="{% url 'share-password-with-date' pk=password.pk %}">
                                {% csrf_token %}
                                <div class="form-group mb-0">
                                    <div class="input-group mb-15">
                                        <input type="hidden" id="example-input2-group2" name="password_pk" class="form-control" value="{{ password.pk }}" required>
                                        <input type="date" id="example-input2-group2" name="valid_until" class="form-control" value="{{ valid_until }}" required>
                                        <span class="input-group-btn">
                                        <button type="submit" class="btn btn-success btn-anim"><i class="glyphicon glyphicon-calendar"></i><span class="btn-text">Add validity date</span></button>
                                        {% if "share-with-date" in request.path %}
                                            <button type="button" onclick="window.location.href='{% url 'share-password' pk=password.pk %}'" class="btn btn-danger btn-anim"><i class="glyphicon glyphicon-remover"></i><span class="btn-text">Remove validity date</span></button>
                                        {% endif %}
                                        </span> 
                                    </div>
                                </div>
                            </form>


                            <div  class="panel-body text-center">
                                {% qr_from_text qr_text options=my_options %}

                                <blockquote class=""><strong>Option 1: </strong> Take a picture of this QR Code and send it to the tenant</blockquote>
                                <blockquote class=""><strong>Option 2: </strong> Send QR Code link by email to specific user</blockquote>
                                <div><strong>URL: </strong>{{ qr_text }}</div>

                                <br><br>
                                <div class="form-wrap">
                                    <form method="POST" action="{% url 'send-mail' %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="control-label mb-10 text-left">Email <span class="text-danger">*</span></label>
                                            <input type="hidden" name="password_pk" value="{{ password.pk }}">
                                            <input type="hidden" name="qr_text" value="{{ qr_text }}">

                                            <input type="email" name="email" class="form-control">
                                        </div>

                                        <br>

                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-info btn-success btn-rounded">Send the link</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    
                </div>
            
            </div>
            <!-- /Row -->
        </div>

        {% include 'partials/footer.html' %}

    </div>
    <!-- /Main Content -->
{% endblock content %}



{% block custom-scripts %}
    <script>
        
    </script>
{% endblock custom-scripts %}
    