 
{% extends 'base-layout/base.html' %}

{% load static %}


{% block title %}
    SHARED PASSWORDS
{% endblock title %}


{% block content %}
    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                  <h5 class="txt-dark">Shared Passwords</h5>
                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                  <ol class="breadcrumb">
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    {% comment %} <li><a href="#"><span>table</span></a></li> {% endcomment %}
                    <li class="active"><span>Shared Passwords</span></li>
                  </ol>
                </div>
                <!-- /Breadcrumb -->
            </div>
            <!-- /Title -->
            <div class="col-md-12">
                {% include 'partials/messages.html' %}
            </div>
            
            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        {% comment %} <div class="panel-heading">
                            <div class="pull-right">
                                <button onclick="window.location.href='{% url 'add-password' %}'" class="btn btn-success btn-anim"><i class="icon-plus"></i><span class="btn-text">Add New Password</span></button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <br> {% endcomment %}
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <table id="datable_1" class="table table-hover display  pb-30" >
                                            <thead>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Owner</th>
                                                    <th>Valid Until</th>
                                                    <th>Website name</th>
                                                    <th>Website url</th>
                                                    <th>Username</th>
                                                    <th>Password</th>
                                                    {% comment %} <th>Expiration Date</th>
                                                    <th>Compromised</th>
                                                    <th>Status</th> {% endcomment %}
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Owner</th>
                                                    <th>Valid Until</th>
                                                    <th>Website name</th>
                                                    <th>Website url</th>
                                                    <th>Username</th>
                                                    <th>Password</th>
                                                    {% comment %} <th>Expiration Date</th>
                                                    <th>Compromised</th>
                                                    <th>Status</th> {% endcomment %}
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                
                                                {% for p in passwords %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <th>{{ p.owner.username }} | {{ p.owner.email }}</th>
                                                        <th>
                                                            {% if p.valid_until %}
                                                                {{ p.valid_until }}
                                                            {% else %}    
                                                                <span class="label label-info">Undefined</span>
                                                            {% endif %}
                                                        </th>
                                                        <td class="notranslate">{{ p.password.website_name }}</td>
                                                        <td>{{ p.password.website_url }}</td>
                                                        <td>{{ p.password.username }}</td>
                                                        <td data-toggle="tooltip" title="Click to show/hide">
                                                            <ul>
                                                                <li style="cursor: pointer;" onclick="showPass(this)"  data-pass="{{ p.password.password }}" data-hpass='******{{ p.password.password|slice:"4:" }}'>
                                                                    ******{{ p.password.password|slice:"4:" }}
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        {% comment %} <td>*****{{ p.password.password|slice:"4:" }}</td> {% endcomment %}
                                                        {% comment %} <td>
                                                            {% if p.password.expiration_date %}
                                                                {{ p.password.expiration_date }}
                                                            {% else %}    
                                                                <span class="label label-info">Undefined</span>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center">
                                                            {% if not p.password.is_compromised %}
                                                                <span class="label label-success">No</span>
                                                            {% else %}    
                                                                <span class="label label-danger">Yes</span>
                                                            {% endif %}
                                                                
                                                        </td>
                                                        <td>
                                                            {% if p.password.is_active %}
                                                                <span class="label label-success">Active</span>
                                                            {% else %}    
                                                                <span class="label label-danger">Inactive</span>
                                                            {% endif %}
                                                                
                                                        </td> {% endcomment %}
                                                    </tr>
                                                {% endfor %}
                                                    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>	
                </div>
            </div>
            <!-- /Row -->
        </div>

        {% include 'partials/footer.html' %}

    </div>
    <!-- /Main Content -->
{% endblock content %}



{% block custom-scripts %}
    <script>
        function setDelete(el){
            password_id = el.getAttribute('data-id')
            name = el.getAttribute('data-name')
            document.getElementById('modal-title').innerText = "Delete " + name + " password ?"

            document.getElementById('delete-form').action = "{% url 'delete-password' pk=12345 %}".replace('12345', password_id);
        }


        function showPass(el){
            const element = el;
            
            el.innerText = el.innerText == el.getAttribute('data-pass') ? el.getAttribute('data-hpass') : el.getAttribute('data-pass');
            
        }
    </script>
{% endblock custom-scripts %}
    