
{% extends 'account/auth-layout.html' %}
{% load static %}

{% load account %}

{% block title %}
Remove 2FA
{% endblock title %}
    


{% block content %}    

    <div class="wrapper pa-0">
        <header class="sp-header">
            <div class="sp-logo-wrap pull-left">
                <a href="">
                    <img class="brand-img mr-10" src="{% static 'dist/img/logo.png' %}" alt="brand"/>
                    <span class="brand-text notranslate">Manager</span>
                </a>
            </div>
            <div class="form-group mb-0 pull-right">
                {% comment %} <span class="inline-block pr-10">Retour vers le tableau de bord</span> {% endcomment %}
                <a class="inline-block btn btn-info btn-success btn-rounded btn-outline" href="{% url 'dashboard' %}">Return to Dashboard</a>
            </div>
            <div class="clearfix"></div>
        </header>
        
        <!-- Main Content -->
        <div class="page-wrapper pa-0 ma-0 auth-page">
            <div class="container-fluid">
                <!-- Row -->
                <div class="table-struct full-width full-height">
                    <div class="table-cell vertical-align-middle auth-form-wrap">
                        <div class="auth-form  ml-auto mr-auto no-float">
                            <div class="row">
                                <div class="col-md-12">
                                    {% include 'partials/messages.html' %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="mb-30">
                                        <h3 class="text-center txt-dark mb-10">Disable Two-Factor Authentication</h3>
                                        {% comment %} <h6 class="text-center nonecase-font txt-grey">Enter your details below</h6> {% endcomment %}
                                    </div>
                                    <hr>
                                    <div class="mb-30 text-center">
                                        <h6 class="text-center txt-dark mb-10">Please enter a valid authentication token to disable two-factor authentication</h6>
                                        <div class="form-wrap">
                                            <form method="post">
                                                {% csrf_token %}
                                                {% comment %} {{ form.non_field_errors }}
                                                {{ form.token.label }}: {{ form.token }} {% endcomment %}
                                                
                                                <div class="form-group">
                                                    <label class="control-label mb-10">Token <span class="text-danger">*</span></label>
                                                    {{form.token}}
                                                    {% if form.token.errors %}
                                                        {% for error in form.token.errors %}
                                                            <div class="text-danger">
                                                                {{ error|escape }}
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>

                                                {% if form.non_field_errors %} 
                                                    {% for error in form.non_field_errors %}
                                                    <div class="text-danger" style="font-size: 12px; font-style: italic;">
                                                        {{ error|escape }}
                                                    </p>
                                                    {% endfor %} 
                                                {% endif %}

                                                <div class="form-group text-center">
                                                    <button type="submit" class="btn btn-info btn-success btn-rounded">Disable Two-Factor</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>	
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Row -->	
            </div>
            
        </div>
        <!-- /Main Content -->

    </div>

{% endblock content %}

{% block custom-scripts %}  
    <script>
       document.getElementById('id_token').classList.add('form-control');
    </script>
{% endblock custom-scripts %}